.h1 {
    text-align: center;
    background-color: aqua;
    margin: 10px;
    font-size: 30px;
    padding: 30px;
    border-radius: 5px;
}

.p  {
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
}

.two{text-align: center;
padding: 100px;
}


a{
    text-decoration: none;
    color: black;
    text-align: center;
}

h3{text-align: center;
border: 30px;}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}